<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/head.ejs")%>

<body>
    <%-include("./partials/navbar.ejs")%>

    
    <div class="container m-auto bg-blue-200 flex justify-center h-96 mt-24">
        <canvas id="myChart"></canvas>
    </div>
    <%-include("./partials/footer.ejs")%>
    <script>
        const ctx = document.getElementById('myChart')
        const data = {
        labels: [
            'Red',
            'Yellow'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
        };
        const myChart = new Chart(ctx, {
            type: 'pie',
            data
        })
    </script>
</body>

</html>